

:root{
   --red:#fa5006;
   --white:#ffffff;
   --black:#000000;
   --salmon:#ffb0b0;
   --border:.2rem solid #ffffff;
   --box-shadow:0 .5rem 1rem #ffffff;
}
.scary-text {
   font-family: 'Creepster', cursive;
}

*{
   font-family: 'Poppins', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
}

/* Dual-colored thumb scrollbar */
::-webkit-scrollbar {
   width: 14px;
}

/*track*/
::-webkit-scrollbar-track {
   background: var(--black); 
}

/*tumb*/
::-webkit-scrollbar-thumb {
   background: var(--red); 
   border: 3px;
}


html{
   font-size: 62.5%;
   overflow-x: hidden; /*content outside the viewport is hidden*/
   scroll-behavior: smooth;
   scroll-padding-top: 6.5rem;
}


section{
   padding:7rem 2rem;
}

.heading{
   text-align: center;
   font-size: 4rem;
   color:var(--white);
   text-transform: uppercase;
   font-weight: bolder;
   margin-bottom: 3rem;
}

.link-btn{
   display: inline-block;
   padding:1rem 3rem;
   border-radius: .5rem;
   background-color: var(--red);
   cursor: pointer;
   font-size: 1.7rem;
   color:var(--white);
}

.link-btn:hover{
   background-color: var(--white);
   color:var(--black);
}

.header{
   padding:2rem;
   border-bottom: var(--border);
}

.header .logo{
   font-size: 2rem;
   color:var(--white);
}

.header .nav a{
   margin:0 1rem;
   font-size: 1.7rem;
   color:var(--white);
}

.header .nav a:hover{
   color:var(--red);
}

.home{
   background:url(../images/home-bg.jpg) no-repeat;
   background-size: cover;
   background-position: center;
}

.home .content{
   width: 55rem;
   padding:2rem;
}

.home .content h3{
   font-size: 6rem;
   text-transform: uppercase;
   color:var(--white);
}

.home .content p{
   line-height: 2;
   font-size: 1.5rem;
   color:var(--salmon);
   padding:1rem 0;
}

.about .row{
   min-height: 50vh;
}

.about .content span{
   font-size: 2rem;
   color:var(--red);
}

.about .content h3{
   font-size: 3rem;
   color:var(--black);
   margin-top: 1rem;
}

.about .content p{
   padding:1rem 0;
   font-size: 1.4rem;
   color:var(--black);
   line-height: 2;
}

.services{
   background-color: var(--black);
}

.services .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
   gap:2rem;
}

.services .box-container .box{
   text-align: center;
   padding:2rem;
   background-color: var(--white);
   box-shadow: var(--box-shadow);
   border-radius: .5rem;
}

.services .box-container .box h3{
   font-size: 2rem;
   padding:1rem 0;
   color:var(--red);
}

.services .box-container .box p{
   font-size: 1.5rem;
   color:var(--black);
   line-height: 2;
}

.process .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
   gap:2rem;
}

.process .box-container .box{
   background-color: var(--black);
   padding:2rem;
   border-radius: .5rem;
   text-align: center;
}

.process .box-container .box img{
   height: 20rem;
   margin:1rem 0;
}

.process .box-container .box h3{
   font-size: 2rem;
   color:var(--red);
   margin:1.5rem 0;
}

.process .box-container .box p{
   font-size: 1.5rem;
   color:var(--white);
   line-height: 2;
}

.scenarios{
   background-color: var(--black);
}

.scenarios .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
   gap:2rem;
}

.scenarios .box-container .box{
   background-color: var(--white);
   text-align: center;
   border-radius: .5rem;
   box-shadow: var(--box-shadow);
   padding:2rem;
}

.scenarios .box-container .box img{
   height: 10rem;
   width: 10rem;
}

.scenarios .box-container .box p{
   padding:2rem 0;
   line-height: 2;
   font-size: 1.5rem;
   color:var(--black);
   margin-bottom: 0;
}

.scenarios .box-container .box h3{
   font-size: 2rem;
   color:var(--salmon);
}

.reserve .row{
   display: flex;
   flex-direction: row;
   align-items: center;
   gap:2rem;
}

.reserve .row form{
   background: #ff0000;
   box-shadow: var(--box-shadow);
   text-align: center;
   padding: 10rem;
   border-radius: .5rem;
}

.reserve .row form .box{
   width: 100%;
   margin:.7rem 0;
   border-radius: .5rem;
   font-size: 1.6rem;
   color: var(--black);
   padding: 1rem;
}

.reserve .row form .btn{
   padding:1rem 4rem;
   background-color: #ffffff;
   font-size: 2.5rem;
}

.footer{
   background-color: var(--black);
}

.footer .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
   gap:3rem;
}

.footer .box-container .box{
   text-align: center;
}

.footer .box-container .box i{
   height: 5rem;
   width: 5rem;
   border-radius: 50%;
   line-height: 5rem;
   font-size: 2rem;
   background-color: var(--red);
   color:var(--white);
}

.footer .box-container .box h3{
   font-size: 2rem;
   margin:2rem 0;
   color:var(--salmon);
}

.footer .box-container .box p{
   font-size: 1.5rem;
   color:var(--salmon);
}


.scary-text {
   font-family: 'Creepster', cursive;
   font-size: 6rem;
   letter-spacing: 5px;
   color: #ff0000;
   text-shadow: 0 0 10px #ff0000, 0 0 20px #ff0000, 0 0 40px #ff0000;
   animation: shake 0.5s ease-in-out infinite;  
}

@keyframes shake {
   0% { transform: translateX(0); } /*original position*/
   25% { transform: translateX(-5px); } /*5 pixels to the left*/
   50% { transform: translateX(5px); }/*5 pixels to the right*/
   75% { transform: translateX(-5px); }
   100% { transform: translateX(0); }
}

.clock {
   font-size: 3rem;
   color: #f5e7e7;
   font-weight: bold;
   padding: 10px 20px;
   margin-left: 20px;
   display: inline-block;
   border: none;
   font-family: 'Arial', sans-serif; /* Add a clean font family */
}
